body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.neb1 {
	margin: 1em;
	float: left;
  width: 300px;
}

.neb2 {
	float: right;
  margin: 1em;
  width: 300px;
}